.bg{
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  background: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg')  no-repeat center center;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
